1.print 0 to 20 by using range

In [3]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

2.print range 10 to 20

In [6]:
for temp in range(10,20):
    print(temp, end=" ")

10 11 12 13 14 15 16 17 18 19

3.Print number of items in the list by using 'len'

In [13]:
List=[10, 20, 14, 55, 43, 87, 76]
count=len(List)
print("Number of items in the List2:",count)

Number of items in the List2: 7

4. Articifical Intelligence

In [23]:
text="Artificial Intelligence"
print("Artificial Intelligence")
for ch in text:
        print(ch)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

5. -Your Name-
-Your Age-
-Your Profession-

In [25]:
text="-Your Name-", "-Your Age-", "-Your Profession-"
for w in text:
        print(w)

-Your Name-
-Your Age-
-Your Profession-

6.Print yhis mixered datatype using Tuples (1, 'Welcome', 2, 'Hope')

In [4]:
t1=(1, 'Welcome', 2, 'Hope')
print(t1)

(1, 'Welcome', 2, 'Hope')

7.((0, 1, 2, 3), ('python', 'HOPE'))

In [6]:
Tuple1=(0, 1, 2, 3)
Tuple2=('python','HOPE')
t2=(Tuple1, Tuple2)
print(t2)

((0, 1, 2, 3), ('python', 'HOPE'))

8.print Odd Numbers in the list

In [28]:
Lists=[20,10,16,19,25,1,276,188]
for temp in Lists:
    if(temp%2==1):
        print(temp,"is odd")

19 is odd
25 is odd
1 is odd

9.print Even numbers in the list

In [29]:
Lists=[20,10,16,19,25,1,276,188]
for temp in Lists:
    if(temp%2==0):
        print(temp,"is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd